body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
h1{
  font-size: 50px;
}
.left{
  float: left;
  display: inline-block;
}
.right{
  float: right;
}
img{
  height: 200px;
  display: inline-block;
  float: left;
}
.logo{
  height: 10px;
  width: 50px;
}

.card-text{
  float: right;
  display: inline-block;
  
}

@media (max-width:600) {
  

}